.card {
  position: relative;
  background-color: #1e1e2e;
  border-radius: 10px;
  border: 2px solid #f2cdcd;
  min-width: 150px;
  width: fit-content;
  max-width: 450px;
  padding-bottom: 20px;
  min-height: fit-content;
  box-shadow: 4px 2px 10px;
  margin: 10px;
}

.card:hover{
  box-shadow: none;

}

hr {
  border-color: #f2cdcd;
}

.title {
  font-size: 2em;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 4px;
  color: #f2cdcd;
}

.subtitle {
  font-size: 1.5em;
  color: #f2cdcd;
  text-align: center;
  padding: 4px;
}

.body {
  color: #f2cdcd;
  font-size: 1.4em;
  padding: 8px;
  text-align: justify;
}

.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  color: #f2cdcd;
  text-align: end;
  padding: 4px;
}
